body{
    margin: 0px;
    padding: 0px;
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,p, ol,ul,a{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.contato a{
    color:white
}

h4{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
background-color: #D9D9D9;
border-radius: 4px;
}


header p{
    position: absolute;
    font-size: 25px;
    left: 50px;
    top: 10px;
}

header img{
    position: absolute;
    width: 25px;
    left: 25px;
    top: 15px;

}



.menu {
position: absolute;
display: flex;
gap: 30px;
justify-content: center;
right: 50px;
top: 15px;
}

.menu img{
position: absolute;
left: -1030px;
top: 1px;

}
.menu a{
  color: #4ACE28;
}


.apresentação h1{
font-size:50px;

}

.desenvolvedor{
position: absolute; 
left: 630px;
top: 35px;
}

.front{
position: relative;
left: 700px;
top: 105px;
width: max-content;

}

.designer{
position: relative;
left: 760px;
top: 105px;
width: max-content;

}
.nome{
position: relative;
left: 795px;
top: 100px;
width: max-content;

}

.idade{
    position: relative;
    left: 795px;
    top: 125px;
    width: max-content;


}

.cidade{
    position: absolute;
    left: 795px;
    top:258px;
    width: max-content;

}

.apresentação img{
position: absolute;
left: 380px;
top: 50px;
width: 400px;
height: 400px;
}

.projetos{
    position: absolute;
    text-align: left;
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr 1fr;
    top: 500px;
    left: 380px;
    height: 100px;
    gap: 30px;
 
}
.vejamais{
font-size: 60px;
}
.vejamais a{
    color: #4ACE28;
}

.resumo p{

border: 10px solid #F4F0F0;
 background-color: #F4F0F0;
 border-radius: 4px;

}

.fundo{
position: absolute;
left: 15px;
width: 150px;
top: 110px;
}

.fundo1{
    position: absolute;
    left: 100px;
    top: 135px;
    width: 150px;
    }

.projeto img{
width: 25px;
height: 25px;
position: absolute;

}

.projetos h2{
    word-wrap: break-word;
    width: 198px;
    font-size: 120px;
    text-align: left;

}


.projetos p{
  text-align: left;
  width: 300px;
  font-size: 20px;
  justify-content: center;
  height: 100px;

}

.projetos a{
font-size: 20px;

}

.projeto{
position: absolute;
top:100px;
}

.projeto h4{
    display: flex;
    background-color: #D9D9D9;
    width: max-content;
    border-radius: 4px;
}


.projeto img{
    position: relative;
    top: 30px;
    left: -25px;
    }

    /* FORMAÇÃO*/


    .formação{
        position: absolute;
        text-align: left;
        display: grid;
        justify-items: end;
        grid-template-columns: 1fr 1fr;
        top: 1200px;
        left: 380px;
        gap: 30px;
        position: absolute;
        border-radius: 4px;
    }
    .retangulos img{

        position: absolute;
        left: 400px;
      width: 600px;

    }
    
    .formação img{
    width: 25px;
    position: absolute;
    
    }
    
    .formação h2{
        word-wrap: break-word;
        width: 198px;
        font-size: 120px;
        text-align: left;
    
    }
    
    .formação ol{
    top: 10px;
    font-size: 50px;
    }
    
    .formação p{
      text-align: left;
      width: 300px;
      font-size: 20px;
      justify-content: center;
      display: flex;
      gap: 50px;
      border-radius: 4px;
    }
    
    .formação a{
    font-size: 20px;
    
    }
    
    .forma{
    position: absolute;
    top:160px;
    grid-column: 1;
    border-radius: 4px;
    }
    .forma h4{
        display: flex;
        background-color: #D9D9D9;
        width: max-content;
        border-radius: 4px;
    }
    
    .forma img{
        position: relative;
        top: 30px;
        left: -25px;
        }

    .forma1 {
        position: relative;
        width: 300px;
        top: 31px;
        border-radius: 4px;
        }

    .forma1 h4{
            border-radius: 4px;
            width: max-content;
        }


    .forma1 img{

    position: absolute;
    left: -25px;
    }
       
    .sobremim{
        position: absolute;
        text-align: left;
        display: grid;
        justify-items: end;
        grid-template-columns: 1fr 1fr;
        top: 2200px;
        left: 380px;
        gap: 50px;
        }
    
    .sobremim h2{
    width: 280px;
    font-size: 100px;
    text-align: left;
    }
        
    .sobremim p{
        text-align: left;
        width: 300px;
        font-size: 20px;
        justify-content: center;
        display: flex;
        gap: 50px;
    }

    .sobremim img{
        width: 25px;
        position: absolute;
        left: 322px;
        top: 5px;
    }

    .contato{
    position: absolute;
    top:2800px;
    text-align: left;
    display: grid;
    justify-items: end;
    grid-template-columns: 1fr 1fr;
    left: 380px;
    gap: 150px;
    background-color:#4ACE28;
    border-radius: 4px;


    }
.contato h1{
    width: 280px;
    font-size: 100px;
    text-align: left;



}
.contato li{
    width: 300px;
    font-size: 20px;
    justify-content: flex-start;
    display: flex;
    gap: 50px;
    left: 350px;
    top: 60px;


}

.contato img{
 position: absolute;
top: -200px;


}

@media (max-width: 400px){

 .menu {
        position: absolute;
        display: flex;
        gap: 30px;
        justify-content: center;
        left: 25px;
        top: 15px;
        }

        .menu img{
            display: none;
        }




    
header p{
 display: none;
}

.apresentação img{
    position: absolute;
    left: 0px;
    width: 215px;
    height: 215px;
        grid-template-columns: 1fr;
    }
.apresentação h1{
    font-size: 
    20px;
    
    }
    
    .desenvolvedor{
    position: absolute; 
    left: 145px;
    top: 60px;
    }
    
    .front{
    position: absolute;
    left: 190px;
    top: 105px;
    width: 117px;
    }
    
    .designer{
    position: absolute;
    left: 205px;
    top: 160px;
    width: 140px;
}

.cidade{
    position: absolute;
    left: 190px;
    top: 260px;
    width: 140px;
    }

    .nome{
        position: absolute;
        left: 190px;
        top: 200px;
        width: 140px;
    }

    .idade{
        position: absolute;
        left: 190px;
        top: 230px;
        width: 140px;

    }

    .projetos{
        position: absolute;
        text-align: left;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        top: 290px;
        left: 0px;
        height: 100px;
        gap: 30px;

     
    }
    .projetos h2{
        width: 163px;
        font-size: 42px;
        text-align: left;
        top: -240px;
        left: 90px;

        }
 .projeto{
position: absolute;
 top:200px;
}

.vejamais{
font-size: 60px;
position: absolute;
top:600px;
align-items: center;
}


.formação{
    position: absolute;
    text-align: left;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    top: 1070px;
    left: 0px;
    gap: 30px;
    position: absolute;
}
.formação h2{
    width: 200px;
    font-size: 42px;
    text-align: left;
    top: -240px;
    left: 90px;

}
.forma{
    position: absolute;
    top:220px;
    left:25px;
    grid-column: 1;
    }

.forma1 {
    position: relative;
    width: 300px;
    top: 740px;
    left: 16px;
    }

    .sobremim{
        position: absolute;
        text-align: left;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        top: 2500px;
        left: 0px;
        gap: 50px;
        }

        .sobremim img{
     display: none;
        }
        .sobremim p{
    position: absolute;
            width: 300px;
            font-size: 20px;
            justify-content: center;
            display: flex;
            gap: 50px;
            left: 15px;
            top: 260px;
        }
        .contato{
            position: absolute;
            top:3250px;
            text-align: left;
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;
            left: 0px;
            gap: 20px;
        
            }
        .contato h1{
            width: 280px;
            font-size: 70px;
            text-align: left;
        
        
        
        }
        .contato li{
            width: 300px;
            font-size: 20px;
            justify-content: flex-start;
            display: flex;
            gap: 50px;
            left:0px;
            top: 60px;
        
        
        }
        
        .contato img{
         position: absolute;
        top: -200px;
        
        
        }
        .retangulos img{
display: none;
        }

}

@media (max-width: 1000px){


    
}



    